body{
margin:0;
padding:0;
font-family:Arial;
background:#060c2a;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 30px;
background:#07113d;
}

.logo{
font-size:28px;
font-weight:bold;
}

.status{
background:#0f5132;
padding:10px 20px;
border-radius:20px;
}

.top-bar{
display:flex;
justify-content:flex-end;
gap:20px;
padding:20px;
}

.token{
background:#0d1b56;
padding:10px 20px;
border-radius:20px;
}

.invite-btn{
padding:12px 20px;
border:none;
border-radius:12px;
cursor:pointer;
}

.main-container{
display:flex;
height:70vh;
}

.video-section{
width:75%;
display:flex;
gap:20px;
padding:20px;
}

.video-box{
flex:1;
background:black;
border-radius:15px;
position:relative;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

video{
width:100%;
height:100%;
object-fit:cover;
}

.customer-placeholder{
width:120px;
height:120px;
border-radius:50%;
background:#6d28d9;
display:flex;
justify-content:center;
align-items:center;
font-size:60px;
}

.label{
position:absolute;
bottom:10px;
left:10px;
background:#111827;
padding:8px 12px;
border-radius:10px;
}

.chat-section{
width:25%;
background:#0d133f;
padding:20px;
display:flex;
flex-direction:column;
}

.chat-header{
font-size:20px;
margin-bottom:20px;
}

.participants{
float:right;
font-size:14px;
color:#4ade80;
}

.messages{
flex:1;
background:#111827;
padding:20px;
border-radius:10px;
margin-bottom:20px;
}

.chat-input{
display:flex;
gap:10px;
margin-bottom:10px;
}

.chat-input input{
flex:1;
padding:10px;
}

.chat-input button{
padding:10px 20px;
}

.attach-btn{
padding:12px;
}

.controls{
display:flex;
gap:20px;
padding:20px;
}

.control-btn{
width:70px;
height:70px;
border:none;
border-radius:50%;
font-size:30px;
cursor:pointer;
}

.end{
background:#dc2626;
color:white;
}